<html>
<meta charset="utf-8">
<title>Submitted Information</title>
<head>
  <h2>Submitted Information</h2>
  
  <p>Name: <%= users.name %></p>
  <p>Dojo Location: <%= users.location %></p>
  <p>Favorite Language: <%= users.languages %></p>
  <p>Comment: <% users.comment %></p>
<head>
<body>
</body>
<html>
